<footer class='footer'>
  <div class='container'>
    <div class='footer-wrapper'>
      <div class='footer-text'>
        <span class='material-icons-round'>copyright</span>
        2020
        <span class='footer-span'>All Rights Reserved</span>
        Developed with
        <span class='material-icons-outlined'>favorite</span>

        <span>by
          <button data-action='open-modal' data-value='goItStudents' type='button' class='footer-btn'>GoIT
            Students</button></span>
      </div>
    </div>
  </div>
</footer>