:root {
  --text-headers-color: hsl(0, 0%, 0%);
  --accent-color: #ff6b09;
  --text-footers-color: #8c9195;
  --swiper-theme-color: #ff6b09 !important;

  --background-color-dark: #122438;
  --text-grey-color: #a8a8a8;
  --primary-black-color: #000;
  --primary-white-color: #fff;
  --hover-card-color: rgba(0, 0, 0, 0.12);

  --main-text: Montserrat, sans-serif;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
