<div class="modal-exit__wrapper">
<h2 class="modal-exit__title">Вы точно хотите выйти из аккаунта?</h2>
<button type="submit" class="modal-exit__btn" data-action="log-out" id="logOut">Выйти</button>
<button type="submit" class="modal-close__btn" data-action="close-modal" >Отмена</button>
</div>