<div class='backdrop' data-action="close-modal-backdrop" id="backdrop"> 
<div data-modal='modal' class='modal' id="mainModal">
  <button type='button' class='modal__close-btn' data-action='close-modal' >  
    <span class="material-icons-outlined" id="modalCloseBtn">close</span>
  </button>  
  {{{modalContent}}}
</div>
</div>